[submodule "CANopenNode"]
	path = CANopenNode
	url = https://github.com/CANopenNode/CANopenNode
[submodule "slcan"]
	path = slcan
	url = https://github.com/catompiler/slcan
[submodule "canopen-stack"]
	path = canopen-stack
	url = git@github.com:embedded-office/canopen-stack.git
